.verify{
    min-height: 40vh;
}
.verify .spinner{
    width: 60px;
    height: 60px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color:tomato ;
    border-radius: 50%;
    animation: rorate is infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}


