.place-order {
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .delivery-info,
  .cart-totals {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    background-color: #fafafa;
    width: 48%; 
  }
  
  .delivery-info h2,
  .cart-totals h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .delivery-info form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  
  .row {
    display: flex;
    gap: 15px; 
  }
  
  .row input {
    width: calc(50% - 7.5px); 
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .delivery-info input {
    background: transparent;
    color: rgb(54, 52, 52);
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .delivery-info input:focus {
    outline: none;
    border-color: #d0ff00; 
    box-shadow: 0 0 5px rgba(255, 75, 43, 0.5);
  }
  
  .cart-totals {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    background-color: #fafafa;
  }
  
  .cart-total-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .cart-total-details p:last-child {
    font-weight: bold;
  }
  
  .cart-totals button {
    display: block;
    width: 40%;
    padding: 12px;
    font-size: 1rem;
    color: white;
    background-color: #ff4b2b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-totals button:hover {
    background-color: #bf3821;
  }